body {
  color: black;
  background-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.Search-Bar {
  display: flex;
  margin-left: 40%;
  height: 20px;
  border-radius: 30px;
  padding: 10px;
  width: 20%;
}

h2 {
  color: white;
}