article {
  background-color: black;
  font-family: fantasy
}

.specific-movie {
  justify-content: center;
  height: auto;
  border-color: black;
  background-color: black;
  width: 80%;
}

.specific-movie:hover {
  transform: none;
  border-color: black;

}

p,
h4 {
  color: white;
}